<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>xNode Home</title>
</head>
<body>
    <h1>xNode Home</h1>
    <br>
    <form method="post">
        <button type="submit">Create Tree</button>
    </form>
    <br>
    <form method="post">
        <input type="text" name="action_name" placeholder="Action Name">
        <button type="submit">Add Action</button>
    </form>
    <br>
    <form  method="post">
        <button type="submit">Run Tree</button>
    </form>
    <br>
    <a href="#">View Tree</a>
</body>